#popular-this-week {
  background-color: #eee;
  padding-bottom: 5px;

  h2 {
    background-color: @gray;
    color: @white;
    text-transform: uppercase;
    font-size: 15px;
    line-height: 30px;
    padding: 0 15px;
    margin-bottom: 5px
  }

  ul {
    list-style: none;
    margin: initial;

    li {
      padding: 3px 15px;

      &:hover {
        background-color: #dfdfdf;
      } 
    }
  }
}